.deck-detail-container-outer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 89vh;
	width: 100vw;
	overflow-y: scroll;
	background-image: url(../Background/background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.detail-deck-h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.detail-deck-btn-container {
	display: flex;
	flex-direction: row;
	gap: 3em;
}
