.modal-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	background-image: url(../Background/background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 1.5rem 1.5rem;
}

.modal {
	display: flex;
	size: 2.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	flex-direction: column;
	align-items: center;
	height: 60%;
	width: 35%;
	margin-top: 1.5rem;
	margin-left: 3rem;
	padding-top: 3em;
	border: 1px solid black;
	border-radius: 10%;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.modal-h4 {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.error-msg-container-modal {
	display: flex;
	size: 2.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	flex-direction: column;
	align-items: center;
	height: 30%;
	width: 100%;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}

.error-msg {
	padding-bottom: 0.3rem;
}

.modal-section {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	padding-top: 0.5rem;
}
.modal-label {
	margin-right: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-btn-container {
	display: flex;
	justify-content: center;
	size: 2.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	flex-direction: row;
	align-items: center;
	padding-top: 2rem;
	gap: 2rem;
}

.modal-btn-msg {
	margin-right: 1rem;
}
