nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 11vh;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 99;
	/* margin: 0; */
	/* min-width: 100vw; */
	width: 100%;
	/* box-shadow: 0px 1px 12px rgba(0, 0, 0, 1); */
	background-color: #faf7f3;
}

.nav-links {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 5px;
	padding: 0px 35px;
}

.roly-poly-logo {
	background-position: center;
	background-size: cover;
	height: 10vh;
	width: 10vh;
	padding-bottom: 0px;
	border-radius: 50%;
}

.roly-poly-logo:hover {
	box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
}

.nav-bar-title {
	font-size: 2em;
	margin-top: 20px;
}

.nav-bar-right {
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav-login-signup {
	display: flex;
	gap: 10px;
	margin-top: 5px;
}

.nav-profile-click {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	height: 3em;
	width: 3em;
	background-color: #f6f6f6;
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #dddddd;
}

.nav-pp-logo {
	font-size: 1.4em;
}

.nav-profile-pic {
	background-position: center;
	background-size: cover;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

.profile-drop-down {
	list-style: none;
	position: fixed;
	margin-top: 3.8rem;
	margin-left: -0.6rem;
	width: 5rem;
	height: 10rem;
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
	gap: 0.25rem;
	font-size: 15px;
	box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
	z-index: 9999;
}

.dropdown-inside-loggedout {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.login-p {
	padding-top: 0.5em;
	padding-left: 0.4em;
	margin: 0;
	color: black;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-p:hover {
	color: lightgray;
}

.dropdown-inside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px;
	height: 100%;
	width: 100%;
}

.dropdown-content {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 1.1em;
	cursor: pointer;
}

.closed:hover {
	box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
}

.open {
	box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
}

/* .logout-botton {
	border-top: 1px solid #dddddd;
	padding-top: 5px;
	cursor: pointer;
}

.logout-botton:hover {
	color: #fe385c;
}

.logout-botton > button {
	border: none;
	background-color: transparent;
	margin-left: -5px;
}

.logout-botton > button:hover {
	color: #fe385c;
} */

.logout-botton {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.inactive {
	text-decoration: none;
}
